<input type="text" [(ngModel)]="title">
{{title}}

<input type="text" [(ngModel)]="power">
{{power | exponential}}


<!-- <div *ngIf="title ==='Nicolas'">Este es un Nicolas</div>

<div *ngIf="title ==='Juanca'">Este es un JuanCa</div>
<div *ngIf="title ==='Camilo'">Este es un Camilo</div> -->

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Juanca'">Este es Juanca</p>
  <p *ngSwitchCase="'Julian'">Este es Julian</p>
  <p *ngSwitchCase="'Nicolas'">Este es Nicolas</p>
  <p *ngSwitchDefault>No hay Match</p>
</div>

<button (click)="addItem()">Add item</button>
<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)='deleteItem(i)'>delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)"
    [product]="product"
  ></app-product>
</div>
